.slider{
    width: 65%;
    margin: 30px auto;
    box-shadow: 0 0 25px #099;
    border-radius:4px ;
    overflow: hidden;
    
}
.slider-body {
    overflow: hidden;
}

.slider-image{
    width: 100%;
    height: 80vh;
    object-fit:cover;
}
.slider-controls {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.slider-button{
    width: 50px;
    height: 50px;
    background: #e0e0e0;
    border: 2px solid #9E9E9E;
    border-radius: 50%;
    margin: 0 10px;
    color: #616161;
}
.slider-button:hover {
    cursor: pointer;
    background: #bdbdbd;
}

.slider-button:focus {
    outline: none;
    border-color: #42A5F5;
}